<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>cancel</title>
        <style>
            * {
                margin: 0;
            }
            .full {
                background-color: rgba(0, 0, 0, 0.2);
                height: 100vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .loader {
                border: 6px solid #f3f3f3;
                border-radius: 50%;
                border-top: 6px solid #3498db;
                width: 40px;
                height: 40px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

            /* Safari */
            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
    </head>
    <body>
        <div class="full">
            <div class="loader"></div>
        </div>
    </body>
</html>
